.blogBody{
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    padding: 2%;
  
}
.container h2 {
    font-size: 2.1em;
    color: #ff5100;
    text-align: left;
    margin: 20px 0;
    padding: 2%;
}
.callToAction{
    max-width: 1200px;
    font-weight: normal;
    line-height: 30px;
    padding: 2%;
    font-size: 20px;
    margin: 2% auto;
    text-align: center;
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category h2{
    align-self: flex-start;
    text-transform: capitalize;
}
.post{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-bottom: 20px;
    border: 1px solid rgb(144, 144, 144);
}
.post img{
    width: 100%;
    max-height: 250px;
    max-width: 400px;
}
.post a{
    text-decoration: none;
}
.post h3{
    color: #ff5100;
    padding: 2%;
    margin: 10px 0 0 0;
}
.post p{
    padding: 2%;
    margin: 0;
}
.adsBlog{
    display: none;
}
@media (min-width: 768px){
    .blogBody{
        display: flex;
    }
    .container{
        flex: 1;
    }
    .post{
        flex-direction: row;
    }
    .contentPost{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .post img{
        width: 30%;
    }
    .post h3 {
        flex: 1;
    }
    .adsBlog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        max-width: 200px;
    }
    .adsBlog img{
        width: 100%;
        padding: 10px;
    }
}