.pagina {
    font-family: 'calibri';
    display: flex;
    flex-direction: column;
}

.buttonassinar {
	background-color:#f15000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Calibri'!important;
	font-size:20px;
	padding:18px 40px;
    text-decoration:none;
    margin: 5%;
}
.buttonassinar:hover {
	background-color:#ff7433;
}
.buttonassinar:active {
	position:relative;
	top:1px;
}

.banner {
    background-color: black;
    position: relative;
}

.banner #bannermaior {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.banner h1{
    color: #f7c926;
    font-weight: bold;
    margin-left: 25px;
    position: absolute;
    bottom: 28px;
    left: 100px;
    z-index: 3;
    font-size: 1.5em;
}

.quadrado {
    width: 40px;
    height: 50px;
    background-color: #f7c926;
    position: absolute;
    bottom: 32px;
    left: 75px;
    z-index: 3;
}

.textopropaganda {
    width: 100%;
    padding: 120px 0px;
    text-align: center;
    font-size: 1.5em;
}

.planosgrupo {
    display: flex;
    justify-content: space-evenly;
}

.planos {
    background-color: black;
    border: 1px solid #ff7433;
    color: white;
    font-weight: bold;
    width: 30%;
    position: relative;
    height: 660px;
}

.planos h1 {
    color: #f15000;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin-block-start: 0.90em;
    margin-block-end: 0;
}

.planos h2 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-block-start: 0;
}

.planos h3 {
    margin-left: 107px;
    color: whitesmoke;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.planos #middle {
    margin-top: 40px;
}

.planos ul li {
    list-style: none;
    color: #ff7433;
    font-size: 16px;
    margin-left: 66px;
    padding: 1px 0px;
    margin-right: 40px;
}

.planos .buttonassinar{
    position: absolute;
    top: 82%;
    left: 29.5%;
}

#iconseta {
    width: 11px;
}

.textoinferior {
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
}

.textoinferior h1 {
    color: #f15000;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    padding: 40px 0px;
}

.textoinferior p {
    text-align: center;
    font-size: 1.5em;  
}

.textoinferior .textoesquerda {
    text-align: center;
}

#personal {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 400px;
}

@media (max-width: 1580px) {
    .planos {
        margin-top: 50px;
        height: 720px;
    }

    .planos h2 {
        padding: 0px 25px;
    }

    .textopropaganda {
        padding-top: 75px;
        padding-bottom: 25px;
        font-size: 1.5em;
    }


}

@media (max-width: 1320px) {
    .planos {
        height: 700px;
    }

    .planos h3 {
        margin-left: 70px;
    }

    .planos h2 {
        padding: 0px 25px;
    }

    .planos ul li {
        margin-left: 30px;
    }

    .textoinferior {
        flex-direction: column;
        padding-left: 0px;
    }

    .textoesquerda {
        padding-left: 25px;
        padding-right: 25px;
    }

    .imagemdireita {
        text-align: center;
    }
}

@media (max-width: 1220px) {
    .planosgrupo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .planos {
        width: 450px;
    }
}

@media (max-width: 520px) {
    .banner h1 {
        display: none;
    }

    .quadrado {
        display: none;
    }

    .planos {
        width: 350px;   
    }

    .planos h1 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .planos h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .planos h3 {
        font-size: 10px;
        margin-left: 55px;
    }

    .planos ul li {
        font-size: 10px;
        margin-left: 25px;
    }

    .planosgrupo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .planos .buttonassinar {
        top: 83%;
        left: 21.5%;
    }

    .textoinferior {
        justify-content: center;
    }

    #personal {
        width: 280px;
    }
}

@media (max-width: 350px) {
    .planos {
        width: 260px;   
        height: 690px;
    }

    .planos .buttonassinar {
        padding: 5px 15px;
        top: 88%;
        left: 21.5%;
    }

    .planos ul li {
        font-size: 10px;
        margin-left: 15px;
    }
}