.container{
    width: auto;
    height: 100%;
    background: black;

    padding: 30px 15px 30px 15px;

}

.table_disposal {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_disposal td, .table_disposal th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table_disposal tr:nth-child(even){background-color: #f2f2f2;}
  
  .table_disposal tr:hover {background-color: #ddd;}
  
  .table_disposal th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }