.thumb {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}


/* Apartir deste tamanho */
@media (min-width: 576px) {


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}