@font-face {
    font-family: 'calibrip';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'calibripnegrito';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/calibribold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    scroll-behavior: smooth;
}